 /* css for page 1 */
.main-body{
    
        width: 70%;
        margin: 0 auto 0 auto;
        margin-top: 10vh;
    
}

.top{
    display: flex;
    justify-content:center;
    gap:300px;  
}

.plusbtn{
    color:rgba(255, 0, 0, 0.692);
    cursor: pointer;
   
    
}

.top-content{
    margin-top: 90px;
}

.top-para{
    padding-left: 10px;
    font-size: 35px;
    font-weight: 100;
    color: #888f91;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.heading1{
    padding-top: 5px;
    font-size: 70px;
    font-family: sans-serif;
    font-weight: bold;
    
}

.list{
    font-weight: 100;
    color: #888f91;
    font-family: 'Open Sans Condensed', sans-serif;
}


.outer-card{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    gap: 65px; 
    
    
}

.card{
    border: 2px solid #FA8072;
    border-radius: 10px;
    width: 200px;
    height: 330px;
    padding: 0 5px;
    text-align: center;
    box-shadow: 10px 10px 5px 2px lightgray;  
}

.heading{
    margin-bottom: 0;
    color:#FA8072;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;  
}

.card-hr{
    margin-left: 30px ;
    border-width: 0.1px;  
}

.CT{
    text-decoration: line-through rgba(255, 0, 0, 0.692);
    color: red;
    margin-left: 30px;
    padding-top: 20px;
    font-weight: 300;
    font-size: 22px;
    font-family: sans-serif;
   
}

.btn{
   padding-right: 65px;
   font-size: 20px;
   color: rgb(66, 66, 66);
   font-weight: 500;
   cursor: pointer;
}

 /* css for page 2 */

 
.heading1-card1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 52%;
    font-size: 65px;
    font-family: sans-serif;
    font-weight: bold;
    
    
  }
  .heading1-card1:before, .heading1-card1:after{
    content: "";
    flex: 1 1;
    border-bottom: 3px solid grey;
    margin: auto 20px;
  }
 
.h2-back{
    cursor: pointer;
    font-family: sans-serif;
    color: #888f91;
    font-size: 35px;
    font-weight: 100;
}

table{
    margin-top: -10px;
}

td{
    padding-right:15px ;
}

.back{
    
    color:rgba(255, 0, 0, 0.692);
    cursor: pointer;
    margin-right: 10px;
    margin-top: 1px;
    
}

.card1{
    margin-top: 40px;
    border: 2px solid #FA8072;
    border-radius: 8px;
    width: 400px;
    height: 400px;
    padding: 0 5px;
    text-align: center;
    box-shadow: 7px 8px 5px 2px lightgray;
    position: relative;
}

.heading-card1{
    margin-bottom: 0;
    color:rgb(233, 62, 32);
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 10px;
}


.card1-hr{
    margin-left: 120px ;
    border-width: 0.2px; 
    color: black; 
}

.CT1{
    text-decoration: line-through rgba(255, 0, 0, 0.692);
    color: red;
    font-family: sans-serif;
    margin-left: 30px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 25px;
}

.btn1{
   padding-right: 65px;
   font-size: 23px;
   color: rgb(66, 66, 66);
   font-weight: 500;
   font-family: sans-serif;
   cursor: pointer;
}

.add{
    color:rgba(255, 0, 0, 0.692);
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 15px;
}


 /* css for page 3 and 4 */

 .page3-body{
    margin: 0 80px;
   
}

.bbg{
    border: 1px solid grey;
}

.bg{
    background-image: url("./images/bg1.PNG");
    height: 800px;
    filter: blur(10px);
    background-position:top;
    background-repeat: no-repeat;
    background-size: contain;  
}

.outer-box{
    border: 1px solid red;
    width: 25%;
    border-radius: 10px;
    padding: 8px 20px 25px 25px;
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 35%;
    box-shadow: 5px 5px 5px 5px lightgray; 
    
}

.page3-para{
    color: red;
    font-family: sans-serif;
    font-size: 25px;
}

.page3-input{
    border: 1px solid red;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    box-shadow: 2px 2px 2px 2px lightgray;    
}

.page3-button{
    border-radius: 20px;
    width: 90px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-family: sans-serif;
}

.page4-bg{
    background-image: url("./images/bg2.PNG");
    height: 720px;
    filter: blur(10px);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}

.page4-para{
    display: none;
}

.page4a-para{
    color: red;
    font-family: sans-serif;
    font-size: 25px;
}

  



 